p
{
    color: red;
    font-size: medium;
    font-weight: 500;
}
body
{
    background-color: blueviolet;
    font-family: "Playfair Display", serif;
}
img
{
    width: 300px;
    border: 5px;
    border-color: aqua;
    border-style: dashed;
}